<ion-header>
  <app-header
    title="Config"
    ></app-header>
</ion-header>

<ion-content scrollY="false">  
  <div class="form">
    <app-input
      label="Ombi Server URL"
      [type]="inputType.URL"
      [(value)]="model.ombiUrl" 
      (valueChange)="baseUrlChange()"
      [disabled]="isPredefinedUrl"
      [hint]="isPredefinedUrl ? 'This URL has been pre-set by your Media Server Host.' : null"
    ></app-input>
    <div [ngClass]="{'invalidUrlHint': true, 'hidden': validUrl}">
      <p>Ombi is not reachable at this URL. Please check the URL or use the Link below.</p>
      <button (click)="openLink()">Open {{prettifyUrl(model.ombiUrl)}}</button>
    </div>
    <div [ngClass]="{'credentialsContainer': true, 'bordered': hasOauth, 'hidden': !validUrl}">
      <app-input
        label="Username"
        [(value)]="model.username"
        [disabled]="!hasBaseUrl"
      ></app-input>
      <app-input
        label="Password"
        [type]="inputType.PASSWORD"
        [(value)]="model.password" 
        [disabled]="!hasBaseUrl"
      ></app-input>
      <app-button 
        label="Sign in" 
        (action)="submit()"
        [disabled]="!hasCredentials"
        ></app-button>
      <p *ngIf="hasOauth">or</p>
      <app-button 
        class="plex" 
        color="light" 
        label="Sign in with Plex" 
        (action)="submitWithPlex()"
        [disabled]="!hasBaseUrl"
        *ngIf="hasOauth"
        ></app-button>
    </div>
  </div>
  <img class="github light" (click)="openGithub()" src="assets/github-light.png" />
  <img class="github dark" (click)="openGithub()" src="assets/github-dark.png" />
</ion-content>