<ion-header>
  <app-header
    title="Config"
    ></app-header>
</ion-header>

<ion-content scrollY="false">  
  <div class="form">
    <app-input
      label="Ombi Server URL"
      placeholder="Ombi Server URL"
      [type]="inputType.URL"
      [(value)]="model.ombiUrl" 
      (change)="baseUrlChange()"
    ></app-input>
    <div [ngClass]="{'credentialsContainer': true, 'bordered': hasOauth}" *ngIf="validUrl">
      <app-input
        label="Username"
        placeholder="Username"
        [(value)]="model.username"
        [disabled]="!hasBaseUrl"
      ></app-input>
      <app-input
        label="Password"
        [type]="inputType.PASSWORD"
        placeholder="Password"
        [(value)]="model.password" 
        [disabled]="!hasBaseUrl"
      ></app-input>
      <app-button 
        label="Sign in" 
        (action)="submit()"
        [disabled]="!hasCredentials"
        ></app-button>
      <p *ngIf="hasOauth">or</p>
      <app-button 
        class="plex" 
        color="light" 
        label="Sign in with Plex" 
        (action)="submitWithPlex()"
        [disabled]="!hasBaseUrl"
        *ngIf="hasOauth"
        ></app-button>
    </div>
  </div>
</ion-content>