.form {
    margin-top: 15px;
    app-button {
        position: relative;
        top: 20px;
        padding: 0 18px;
        width: 100%;
        display: inline-block;
    }
}

.hidden {
    display: none;
}

.credentialsContainer {
    &.bordered {
        margin: 20px 10px 0 10px;
        padding: 12px 0;
        border: 1px solid gray;
        border-radius: 8px;
    }
    p {
        text-align: center;
        color: gray;
        margin-bottom: 0;
    }

    app-button {
        margin-bottom: 12px;
        &:last-of-type {
            margin-top: -7px;
            margin-bottom: 20px
        }
    }
}

.github {
    &.dark {
        display: none;
    }
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 44px;
    width: auto;
}

@media (prefers-color-scheme: dark) {
    :host {
        .github {
            &.dark {
                display: block;
            }
            &.light {
                display: none;
            }
        }
    }
}
