.form {
    margin-top: 40px;
    app-button {
        position: relative;
        top: 20px;
        padding: 0 18px;
        width: 100%;
        display: inline-block;
    }
}

.credentialsContainer {
    margin: 20px 10px 0 10px;
    padding: 12px 0;
    border: 1px solid gray;
    border-radius: 15px;
    p {
        text-align: center;
        color: gray;
    }

    app-button {
        margin-bottom: 12px;
        &:last-child {
            margin-top: -22px;
        }
    }
}