<ion-header>
  <app-header title="Discover"></app-header>
  <app-search placeholder="Start typing..." (valueChange)="searchChange($event)"></app-search>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment class="segment-select" (ionChange)="segmentChange($event)" value="all">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="movie">
      <ion-label>Movies</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tv">
      <ion-label>TV-Shows</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list lines="full">
    <app-content-row *ngFor="let item of items" [content]="item" (click)="showContent(item)"></app-content-row>
  </ion-list>
  <app-list-remark *ngIf="this.items.length == 0 && !isLoading">No Content Found</app-list-remark>
</ion-content>
