<ion-breadcrumbs>
  <ion-breadcrumb (click)="goBack()">
    <ion-icon slot="start" name="search-outline"></ion-icon>
    Search
  </ion-breadcrumb>
  <ion-breadcrumb href="#">
    <ion-icon slot="start" [name]="icon"></ion-icon>
    {{ contentName }}
  </ion-breadcrumb>
</ion-breadcrumbs>


<div class="poster-backdrop" *ngIf="!isLoading">
  <ion-icon class="play-icon" [name]="icon"></ion-icon>
  <img class="poster" [alt]="content?.title" [src]="content?.posterUrl" />
</div>

<ion-content class="ion-padding" *ngIf="!isLoading">
  <h1>{{ content?.title }}</h1>&nbsp;<i *ngIf="content?.releaseYear">({{content?.releaseYear}})</i>
  
  <ion-badge
    *ngIf="content?.requested || content?.available" 
    class="badge" 
    [color]="color"
    >{{ label }}</ion-badge>
  <br />
  <ion-chip class="genres" *ngFor="let genre of content?.genres">
    <ion-label disabled="true">{{genre}}</ion-label>
  </ion-chip>

  <p>{{content?.description}}</p>

  <ion-fab class="single-action" horizontal="end">
    <ion-fab-button 
      [disabled]="content?.requested || content?.available"
      [color]="color"
      (click)="request()">
      <ion-icon [name]="fabIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>