:host {
    img {
        width: 45%;
    }
    
    .content {
        margin: 10px;
        font-size: 1.2em;
    }

    app-button {
        float: right;
        width: 52%;
        margin-top: 190px;
    }
}