<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" default-href="movies"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ content?.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
    <app-button 
      [disabled]="content.requested || content.available" 
      (action)="request()" 
      [label]="label"
      [color]="color"
      fill="outline"
      ></app-button>
    <img src="{{content.posterUrl}}" />
    <br />
    <p>{{content.description}}</p>
  </div>
</ion-content>
