<ion-card>
  <div class="poster-backdrop">
    <ion-icon class="icon" [name]="content.mediaType == 'movie' ? 'film' : 'tv-outline'"></ion-icon>
    <img 
      class="poster" 
      [alt]="content.title" 
      [src]="content.posterUrl"
      onerror="this.onerror=null; this.src='/assets/backdrop.png'"
      />
  </div>
  <ion-card-header>
    <ion-badge 
      class="badge" 
      [color]="color"
      >{{ content.status }}</ion-badge>
    <ion-card-title>{{content.title}}</ion-card-title>
    <ion-card-subtitle>{{content.mediaType?.toUpperCase()}}<span *ngIf="content?.requestedBy"> requested by {{content?.requestedBy}}</span></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p [innerHtml]="content?.description"></p>
  </ion-card-content>

  <ng-content></ng-content>
</ion-card>