.content-row {
    display: flex;
    flex-direction: column;

    .content-top {
        display: flex;
        // width: 100%;

        .poster {
            flex: 0 0 auto;
            margin: 20px 0;
            padding-right: 10px;
            width: 30%;
        }

        .info {
            flex: 0 0 auto;
            width: 70%;
            text-align: justify;

            h2 {
                margin-bottom: 5px;
            }

            p {
                margin-top: 0.5em;
            }
        }
    }

    .content-bottom {
        display: flex;
    }
}